@font-face {
    font-family: orbitron;
    src: url(./assets/fonts/Orbitron/Orbitron-VariableFont_wght.ttf);
}

@font-face {
    font-family: rajdhani;
    src: url(./assets/fonts/Rajdhani/Rajdhani-Regular.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
    background-color: #020204;
}

section {
    height: 100%;
    overflow: hidden;
    position: relative;
}

.page1 {
    background-image: url(./assets/images/bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.page1 header {
    height: 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 4rem;
}

.page1 header .logo-section {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ccc;
    gap: .5rem;
}

.page1 header .logo-section .logo {
    font-size: 1.5rem;
    font-family: rajdhani;
}

.page1 header .logo-section .logo span {
    color: #13C3A5;
}

.page1 header .logo-section .name {
    font-size: .6rem;
    font-family: orbitron;
}

.page1 header .pages {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4rem;
}

.page1 header .pages a {
    color: #ccc;
    font-family: rajdhani;
    text-decoration: none;
    font-size: 1.2rem;
}

.page1 header .contact button {
    color: #ccc;
    background-color: transparent;
    border: none;
    padding: 1rem 4rem;
    border: 2px solid #13C3A5;
    border-radius: 2rem;
    font-family: rajdhani;
    font-size: 1rem;
}

/* divinding 35 50 15*/

.page1 main {
    display: flex;
    justify-content: space-between;
    padding: 0 2rem;
}

.page1 main .content {
    width: 35%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 1rem;
    margin: 0rem 0rem 8rem 0rem;
    font-family: rajdhani;
    padding: 2rem;
}

.page1 main .content h3 {
    color: #13C3A5;
    font-size: 2rem;
    font-weight: 600;
}

.page1 main .content .title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.page1 main .content h1 {
    color: #ccc;
    font-size: 8rem;
    font-weight: 900;
    font-family: orbitron;
    letter-spacing: -.2rem;
    margin: 0;
    line-height: .8;
    z-index: 1;
}

.page1 main .content h2 {
    color: #13C3A5;
    font-size: 6rem;
    font-weight: 900;
    font-family: orbitron;
    letter-spacing: -.2rem;
    margin: 0;
    line-height: .8;
    z-index: 1;
}

.page1 main .content h4 {
    color: #ccc;
    font-size: 2rem;
    font-weight: 100;
}

.page1 main .content p {
    color: #aaa;
    font-size: .8rem;
    padding-right: 50%;
}

.page1 main .content .buttons {
    display: flex;
    justify-content: flex-start;
    gap: 2rem;
}

.page1 main .content .buttons #btn1 {
    color: #ccc;
    padding: .5rem 2rem;
    border: 1px solid #13C3A5;
    border-radius: 0.5rem;
    background: linear-gradient(to right, transparent, #13C3A5);
    font-family: rajdhani;
    font-weight: 900;
}

.page1 main .content .buttons #btn2 {
    color: #ccc;
    background-color: transparent;
    font-family: rajdhani;
    font-weight: 900;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5rem;
}

.page1 main .content .buttons #btn2 i {
    font-size: 3rem;
}

.page1 main .hero {
    width: 50%;
    position: relative;
}

.page1 main .hero img {
    width: 100%;
    object-fit: cover;
}

.page1 main .hero #hero {
    width: 80%;
    object-fit: cover;
    position: absolute;
    top: 0px;
    left: 50px;
}

.page1 main .play {
    width: 15%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 4rem;
    margin-bottom: 8rem;
}

.page1 main .play .box {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2.5rem;
}

.page1 main .play .box i {
    font-size: 2rem;
    color: #13C3A5;
    border: 2px solid #13C3A5;
    padding: 1rem;
    border-radius: 2rem;
    box-shadow:
        0 0 5px #13C3A5,
        0 0 30px #13C3A5,
        inset 0 0 10px #13C3A5,
        inset 0 0 5px rgba(19, 195, 165, 0.6);
    text-shadow:
        0 0 0px #13C3A5,
        0 0 5px #13C3A5,
        0 0 10 px #13C3A5;
}

.page1 main .play .box p {
    color: #13C3A5;
    font-family: rajdhani;
}

.page1 footer {
    position: absolute;
    height: 20%;
    width: 90%;
    bottom: 1rem;
    left: 50%;
    transform: translate(-50%, 0);
    border-radius: 15px;
    background: rgba(2, 2, 4, 0.15);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    color: white;
    text-align: center;
    display: flex;
    justify-content: space-between;

}

.page1 footer .box {
    width: 15%;
    object-fit: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: rajdhani;
}

.page1 footer .box h2 {
    color: #13C3A5;
    font-size: 2rem;
}

.page1 footer .box p {
    color: #ccc;
}

.page1 footer .box img {
    height: 150%;
    width: 150%;
}

.page1 footer hr {
    /* border-top: 1px solid #222; */
    color: #000;
    height: 4rem;
    align-self: center;
}