.modal{
    grid-area: main;
    display: none;
    justify-content: center;
    align-items: center;
    background-color: var(--bg);
}

.taskForm{
    width: 50%;
    min-width: 350px;
    background: var(--surface2);
    color: var(--text);
    font-family: jetBrainsMono;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    padding: 2rem;
    border-radius: 1rem;
    border: 1px solid var(--border);
}

.formGroup{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
}

.formGroup input,
.formGroup textarea{
    width: 100%;
    padding: 1rem;
    border-radius: 1rem;
    font-family: jetBrainsMono;
    color: var(--text);
    background-color: var(--surface);
    border: 1px solid var(--border);
}

.formButtons{
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.formButtons button{
    padding: 1rem 2rem;
    border: 1px solid var(--border);
    border-radius: 1rem;
    background: var(--primary);
    color: var(--text);
    font-family: jetBrainsMono;
}