/* play.css ~ currently is a temorary replacment of js and doing manually pages switching*/

/* #home{display: grid;} */

/* smooth scrooling checked */
/* #tasks{display: flex;} */

/* smooth scrooling checked */
/* #goals{display: flex;} */

/* #quotes{display: flex;} */