/* play.css ~ currently is a temorary replacment of js and doing manually pages switching*/

#home{display: grid;}

/* #tasks{display: flex;} */

/* #goals{display: flex;} */

/* #quotes{display: flex;} */