/* =========================
   FONT FAMILIES
========================= */

@font-face {
    font-family: roboto-mono;
    src: url(./assets/fonts/RobotoMono-Medium.ttf);
}

@font-face {
    font-family: reckless;
    src: url(./assets/fonts/Reckless.woff);
}

@font-face {
    font-family: midnight;
    src: url(./assets/fonts/midnight-sans-rd-12-medium-trial.otf);
}

/* =========================
   RESET / GLOBAL STYLES
========================= */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
    position: relative;
    font-family: roboto-mono;
}

/* =========================
   MOBILE FIRST DEFAULT
   (0px and above)
========================= */

header {
    position: fixed;
    top: 0;

    z-index: 9999;

    height: 4rem;
    width: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 1rem 1.2rem;

    background: white;

    border: 1px solid black;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.25);
}

header nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

header nav button {
    font-family: reckless;
    display: none;
    font-size: 1.5rem;
    background-color: transparent;
    justify-content: center;
    align-items: center;
    border: none;
    color: #000;
    gap: .5rem;
}

header nav button i {
    font-size: 1rem;
    border-radius: 50%;
    background-color: #bfdbff;
    border: 1px solid black;
}

header nav div i {
    color: #777;
    font-size: 2rem;
}

header nav a {
    display: none;
    font-size: .75rem;
    text-decoration: none;
    color: #000;
}

header nav div {
    display: flex;
    justify-content: center;
    align-items: center;
}

header nav div span {
    font-size: small;
    padding: 0rem .25rem;
    background-color: #ffb700;
    border-radius: 1rem;
    border: 1px solid black;
    transform: translateX(-.5rem);
}

.accessibility {
    border-radius: 50%;
    position: fixed;
    bottom: 2rem;
    left: 3rem;
    z-index: 1;
    height: 2rem;
    width: 2rem;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.accessibility i {
    font-size: 4rem;
    color: lightseagreen;
}

#page1 {
    height: 85vh;
    background-image: url('./assets/images/AlpineBerry.webp');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    position: relative;
    border: 1px solid black;
}

#page1 div {
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    width: 100%;
    padding: 1rem;
    height: 100%;
    padding: 2rem;
    color: #fbf9eb;
    gap: 1rem;
}

#page1 div h1 {
    font-family: reckless;
    font-size: 5rem;
    font-weight: normal;
}

#page1 div p {
    font-family: sans-serif;
    font-family: 1.5rem;
    font-weight: bold;
}

#page1 div button {
    background-color: #2a2857;
    color: #fff;
    padding: 1rem 4rem;
    border: none;
    border-radius: 2rem;
    align-self: flex-start;
    margin-left: 1rem;
    font-size: 1rem;
    margin-bottom: 2rem;
}

#page1 .down-arrow {
    background-color: #2a2857;
    padding: .5rem;
    position: absolute;
    height: 3rem;
    width: 3rem;
    bottom: -1.5rem;
    right: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

#page1 .down-arrow i {
    font-size: 2rem;
    color: #fbf9eb;
}

#page2 {
    height: 150vh;
    display: grid;

    grid-template-rows: 30% 10% 45% 15%;
    grid-template-areas:
        "title"
        "heading"
        "products"
        "bottom"
    ;

    background-color: #fbf9eb;
    border: 1px solid black;
}

#page2 .title {
    grid-area: title;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#page2 .title h1 {
    width: 80%;
    font-family: reckless;
    font-size: 3rem;
    font-weight: normal;
}

#page2 .heading {
    grid-area: heading;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: rotateZ(355deg);
}

#page2 .heading h2 {
    font-family: midnight;
    background-color: #daaeeb;
    padding: 0rem .5rem;
    font-size: 4rem;
    font-weight: normal;
    border: 1px solid black;
    border-radius: .5rem;
}

#page2 .products {
    grid-area: products;
    display: flex;
    padding: 2rem;
    gap: 2rem;
    overflow: hidden;
}

#page2 .product {
    height: 95%;
    width: 325px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

#page2 .product .card {
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    border-radius: 1rem;
    border: 1px solid black;
}

#page2 .product .card button {
    position: absolute;
    top: 5%;
    left: 5%;
    padding: .5rem;
    border: 1px solid black;
    border-radius: .5rem;
    font-family: midnight;
    font-size: 1.25rem;
    text-transform: uppercase;
}

#page2 .product .card>p {
    position: absolute;
    top: 5%;
    right: 5%;
    color: #000;
}

#page2 .product .card img {
    height: 100%;
}

#page2 .product .card .add {
    position: absolute;
    bottom: 5%;
    right: 5%;
    background-color: #fff;
    color: #000;
    height: 3rem;
    width: 3rem;
    border-radius: .5rem;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#page2 .product .card .add p {
    font-size: small;
    font-weight: 100;
}

#page2 .product h3 {
    font-family: reckless;
    font-weight: normal;
    font-size: 1.5rem;
}

#page2 .product span {
    font-family: sans-serif;
    font-size: small;
}

#page2 .product>p {
    font-family: sans-serif;
    font-size: .9rem;
    font-weight: 100;
    color: #777;
}

#page2 .bottom {
    grid-area: bottom;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

#page2 .bottom .lines {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

#page2 .bottom .lines div {
    height: 3px;
    width: 2rem;
    background-color: #ccc;
}

#page2 .bottom .lines #selected {
    background-color: #201c1a;
}

#page2 .bottom button {
    width: fit-content;
    align-self: center;
    border: none;
    background-color: #2a2857;
    color: #fff;
    padding: 1rem 4rem;
    border-radius: 2rem;
    font-size: 1rem;
}

#page3 {
    height: min-content;
    padding: 8rem 4rem;
    background-color: #fbf9eb;
    display: flex;
    flex-direction: column;
    gap: 4rem;
}

#page3 .heading {
    display: flex;
    justify-content: start;
    align-items: center;
    transform: rotateZ(355deg);
}

#page3 .heading h2 {
    font-family: midnight;
    background-color: #ff7f31;
    padding: 0rem .5rem;
    font-size: 4rem;
    font-weight: normal;
    border: 1px solid black;
    border-radius: .5rem;
}

#page3 .title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    text-align: start;
}

#page3 .title h1 {
    width: 80%;
    font-family: reckless;
    font-size: 2.5rem;
    font-weight: normal;
}

#page3 .box {
    width: 100%;
    padding: 2rem;
    border: 1px solid black;
    border-radius: .5rem;
}

#page3 .box span {
    font-family: reckless;
    font-size: 2rem;
    color: #777;
}

#page3 h4 {
    font-family: sans-serif;
    font-weight: normal;
    text-transform: uppercase;
    font-size: small;
}

#page3 .cards {
    display: flex;
    flex-wrap: wrap;
    gap: .5rem;
}

#page3 .card {
    padding: .5rem 1rem;
    background-color: #d9e9ff;
    border-radius: 1rem;
    border: 1px solid black;
    font-family: reckless;
    font-size: 2rem;
}

/* =========================
   SMALL DEVICES
   >= 480px
========================= */

@media (min-width: 480px) {}

/* =========================
   TABLETS
   >= 768px
========================= */

@media (min-width: 768px) {
    #page3 {
        padding: 8rem 10rem;
    }

    #page3 .box {
        width: 70%;
    }
}

/* =========================
   LAPTOPS
   >= 1024px
========================= */

@media (min-width: 1024px) {
    header nav .menu {
        display: none;
    }

    header nav button {
        display: flex;
    }

    header .center {
        padding-left: 10%;
    }

    header nav a {
        display: block;
    }

    #page1 {
        height: 90vh;
    }

    #page1 div {
        width: 35%;
    }

    #page1 div button {
        margin-bottom: 0;
    }

    #page2 .title h1 {
        width: 55%;
        font-size: 4rem;
    }

    #page3 {
        padding: 8rem 16rem;
    }

    #page3 .title h1 {
        font-size: 3.5rem;
    }

    #page3 .box {
        width: 40%;
    }
}

/* =========================
   LARGE DESKTOPS
   >= 1280px
========================= */

@media (min-width: 1280px) {}

/* =========================
   EXTRA LARGE SCREENS
   >= 1440px
========================= */

@media (min-width: 1440px) {}