/* =========================
   FONT FAMILIES
========================= */

@font-face {
    font-family: roboto-mono;
    src: url(./assets/fonts/RobotoMono-Medium.ttf);
}

@font-face {
    font-family: reckless;
    src: url(./assets/fonts/Reckless.woff);
}

@font-face {
    font-family: midnight;
    src: url(./assets/fonts/midnight-sans-rd-12-medium-trial.otf);
}

/* =========================
   RESET / GLOBAL STYLES
========================= */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
    position: relative;
    font-family: roboto-mono;
}

/* =========================
   MOBILE FIRST DEFAULT
   (0px and above)
========================= */

header {
    position: fixed;
    top: 0;

    z-index: 9999;

    height: 4rem;
    width: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 1rem 1.2rem;

    background: white;

    border: 1px solid black;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.25);
}

header nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

header nav button {
    font-family: reckless;
    display: none;
    font-size: 1.5rem;
    background-color: transparent;
    justify-content: center;
    align-items: center;
    border: none;
    color: #000;
    gap: .5rem;
}

header nav button i {
    font-size: 1rem;
    border-radius: 50%;
    background-color: #bfdbff;
    border: 1px solid black;
}

header nav div i {
    color: #777;
    font-size: 2rem;
}

header nav a {
    display: none;
    font-size: .75rem;
    text-decoration: none;
    color: #000;
}

header nav div {
    display: flex;
    justify-content: center;
    align-items: center;
}

header nav div span {
    font-size: small;
    padding: 0rem .25rem;
    background-color: #ffb700;
    border-radius: 1rem;
    border: 1px solid black;
    transform: translateX(-.5rem);
}

.accessibility {
    border-radius: 50%;
    position: fixed;
    bottom: 2rem;
    left: 3rem;
    z-index: 1;
    height: 2rem;
    width: 2rem;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.accessibility i {
    font-size: 4rem;
    color: lightseagreen;
}

#page1 {
    height: 85vh;
    background-image: url('./assets/images/AlpineBerry.webp');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    position: relative;
    border: 1px solid black;
}

#page1 div {
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    width: 100%;
    padding: 1rem;
    height: 100%;
    padding: 2rem;
    color: #fbf9eb;
    gap: 1rem;
}

#page1 div h1 {
    font-family: reckless;
    font-size: 5rem;
    font-weight: normal;
}

#page1 div p {
    font-family: sans-serif;
    font-family: 1.5rem;
    font-weight: bold;
}

#page1 div button {
    background-color: #2a2857;
    color: #fff;
    padding: 1rem 4rem;
    border: none;
    border-radius: 2rem;
    align-self: flex-start;
    margin-left: 1rem;
    font-size: 1rem;
    margin-bottom: 2rem;
}

#page1 .down-arrow {
    background-color: #2a2857;
    padding: .5rem;
    position: absolute;
    height: 3rem;
    width: 3rem;
    bottom: -1.5rem;
    right: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

#page1 .down-arrow i {
    font-size: 2rem;
    color: #fbf9eb;
}

#page2 {
    height: 150vh;
    display: grid;

    grid-template-rows: 30% 10% 45% 15%;
    grid-template-areas:
        "title"
        "heading"
        "products"
        "bottom"
    ;

    background-color: #fbf9eb;
    border: 1px solid black;
}

#page2 .title {
    grid-area: title;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#page2 .title h1 {
    width: 80%;
    font-family: reckless;
    font-size: 3rem;
    font-weight: normal;
}

#page2 .heading {
    grid-area: heading;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: rotateZ(355deg);
}

#page2 .heading h2 {
    font-family: midnight;
    background-color: #daaeeb;
    padding: 0rem .5rem;
    font-size: 4rem;
    font-weight: normal;
    border: 1px solid black;
    border-radius: .5rem;
}

#page2 .products {
    grid-area: products;
    display: flex;
    padding: 2rem;
    gap: 2rem;
    overflow: hidden;
}

#page2 .product {
    height: 95%;
    width: 325px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

#page2 .product .card {
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    border-radius: 1rem;
    border: 1px solid black;
}

#page2 .product .card button {
    position: absolute;
    top: 5%;
    left: 5%;
    padding: .5rem;
    border: 1px solid black;
    border-radius: .5rem;
    font-family: midnight;
    font-size: 1.25rem;
    text-transform: uppercase;
}

#page2 .product .card>p {
    position: absolute;
    top: 5%;
    right: 5%;
    color: #000;
}

#page2 .product .card img {
    height: 100%;
}

#page2 .product .card .add {
    position: absolute;
    bottom: 5%;
    right: 5%;
    background-color: #fff;
    color: #000;
    height: 3rem;
    width: 3rem;
    border-radius: .5rem;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#page2 .product .card .add p {
    font-size: small;
    font-weight: 100;
}

#page2 .product h3 {
    font-family: reckless;
    font-weight: normal;
    font-size: 1.5rem;
}

#page2 .product span {
    font-family: sans-serif;
    font-size: small;
}

#page2 .product>p {
    font-family: sans-serif;
    font-size: .9rem;
    font-weight: 100;
    color: #777;
}

#page2 .bottom {
    grid-area: bottom;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

#page2 .bottom .lines {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

#page2 .bottom .lines div {
    height: 3px;
    width: 2rem;
    background-color: #ccc;
}

#page2 .bottom .lines #selected {
    background-color: #201c1a;
}

#page2 .bottom button {
    width: fit-content;
    align-self: center;
    border: none;
    background-color: #2a2857;
    color: #fff;
    padding: 1rem 4rem;
    border-radius: 2rem;
    font-size: 1rem;
}

#page3 {
    height: min-content;
    padding: 8rem 4rem;
    background-color: #fbf9eb;
    display: flex;
    flex-direction: column;
    gap: 4rem;
}

#page3 .heading {
    display: flex;
    justify-content: start;
    align-items: center;
    transform: rotateZ(355deg);
}

#page3 .heading h2 {
    font-family: midnight;
    background-color: #ff7f31;
    padding: 0rem .5rem;
    font-size: 4rem;
    font-weight: normal;
    border: 1px solid black;
    border-radius: .5rem;
}

#page3 .title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    text-align: start;
}

#page3 .title h1 {
    width: 80%;
    font-family: reckless;
    font-size: 2.5rem;
    font-weight: normal;
}

#page3 .box {
    width: 100%;
    padding: 2rem;
    border: 1px solid black;
    border-radius: .5rem;
}

#page3 .box span {
    font-family: reckless;
    font-size: 2rem;
    color: #777;
}

#page3 h4 {
    font-family: sans-serif;
    font-weight: normal;
    text-transform: uppercase;
    font-size: small;
}

#page3 .cards {
    display: flex;
    flex-wrap: wrap;
    gap: .5rem;
}

#page3 .card {
    padding: .5rem 1rem;
    background-color: #d9e9ff;
    border-radius: 1rem;
    border: 1px solid black;
    font-family: reckless;
    font-size: 2rem;
}

#page4 {
    height: 220vh;
    display: flex;
    justify-content: start;
    align-items: center;
    overflow: hidden;
    position: relative;
}

#page4>img {
    height: 100%;
}

#page4 .content {
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

#page4 .content .title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#page4 .content .title h2 {
    font-family: midnight;
    background-color: #74bd26;
    width: max-content;
    font-size: 4rem;
    border: 1px solid black;
    border-radius: .5rem;
    transform: rotateZ(355deg);
}

#page4 .content .title h1 {
    color: #fff;
    font-family: midnight;
    font-size: 6rem;
    text-transform: uppercase;
}

#page4 .content p {
    font-family: reckless;
    font-size: 2rem;
    text-align: center;
    width: 70%;
    color: #fff;
}

#page4 .content .images {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    gap: 1rem;
    width: 100%;
}

#page4 .content .images img {
    height: 100%;
}

#page4 .content button {
    width: max-content;
    border: 1px solid black;
    padding: 1rem 2rem;
    border-radius: 2rem;
}

#page5 {
    height: 100vh;
    background-color: #faf8eb;

    display: grid;
    grid-template-rows: 40% 60%;
    grid-template-areas:
        "title"
        "cards"
    ;
}

#page5 .title {
    grid-area: title;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

#page5 .title h1 {
    font-family: midnight;
    background-color: #74bd26;
    width: fit-content;
    padding: .5rem;
    border-radius: .5rem;
    border: 1px solid black;
    transform: rotateZ(355deg);
    font-size: 4rem;
}

#page5 .title h2 {
    display: none;
    font-family: reckless;
    font-weight: normal;
    font-size: 4rem;
}

#page5 .cards {
    grid-area: cards;
    display: flex;
    gap: 1rem;
    justify-content: flex-start;
    overflow: hidden;
    margin-left: 1rem;
    margin-bottom: 1rem;
}

#page5 .cards .card {
    height: 100%;
    width: 285px;
    min-width: 260px;
    padding: 1rem;
    display: grid;
    grid-template-rows: 75% 25%;
    grid-template-areas:
        "content"
        "box"
    ;

    border-radius: 1rem;
    border: 1px solid black;
}

#page5 .cards .card .content {
    grid-area: content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 1rem;
}

#page5 .cards .card .content h3 {
    font-family: reckless;
    font-size: 1.5rem;
    font-weight: normal;
}

#page5 .cards .card .content span {
    font-family: sans-serif;
    color: #555;
    font-size: small;
    font-weight: lighter;
}

#page5 .cards .card .box {
    grid-area: box;
    border-radius: 1rem;
    border: 1px solid black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    gap: .5rem;
}

#page5 .cards .card .box img {
    height: 100%;
    max-width: 30%;
}

#page5 .cards .card .box h4 {
    font-size: 1rem;
    font-weight: normal;
}

#page5 .cards .card .box button {
    padding: .5rem;
    border-radius: 2rem;
    border: 1px solid black;
    font-size: large;
    color: #000;
}

#page6 {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

#page6 div {
    height: max-content;
    min-height: 50vh;
    width: 100vw;
    background-color: #2a2857;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
    overflow: hidden;
}

#page6 div img {
    align-self: center;
    width: 120%;
    object-fit: cover;
}

#page6 div h2 {
    font-family: reckless;
    font-size: 2rem;
    font-weight: normal;
    margin: 0rem 1rem;
}

#page6 div p {
    font-family: sans-serif;
    font-size: 1rem;
    font-weight: normal;
    margin: 0rem 1rem;
}

#page6 div button {
    width: max-content;
    padding: 1rem 4rem;
    border-radius: 2rem;
    color: #000;
    margin: 0rem 1rem;
    font-size: 1rem;
}

#page7 {
    height: max-content;
    background-color: #9e6429;

    display: grid;
    grid-template-rows: auto auto;

    grid-template-areas:
        "content"
        "product"
    ;
}

#page7 .content {
    grid-area: content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    gap: 1.5rem;
    height: max-content;
    margin: 2rem 1rem;
}

#page7 .content h2 {
    font-family: midnight;
    font-size: 1.5rem;
    text-transform: uppercase;
    color: #000;
    background-color: #ffcb96;
    padding: .2rem;
    border-radius: .5rem;
    border: 1px solid black;
    transform: rotateZ(355deg);
}

#page7 .content h1 {
    text-transform: uppercase;
    font-family: midnight;
    font-size: 1.5rem;
    color: #fff;
}

#page7 .product {
    grid-area: product;
    background-color: #ffcb96;
    margin: 2rem;
    border-radius: 1rem;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    padding: 2rem;
    height: max-content;
}

#page7 .product img {
    bottom: 0;
    width: 100%;
}

#page7 .product .productContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
}

#page7 .product .productContent h2 {
    font-family: midnight;
    font-size: 1.5rem;
    text-transform: uppercase;
    color: #000;
    background-color: #f09f54;
    padding: 0rem .2rem;
    border-radius: .5rem;
    border: 1px solid black;
    transform: rotateZ(355deg);
    width: max-content;
}

#page7 .product .productContent h1 {
    font-family: reckless;
    font-weight: normal;
    font-size: 2.5rem;
}

#page7 .product .productContent p {
    font-family: sans-serif;
    font-size: 1rem;
}

#page7 .product .productContent button {
    width: max-content;
    padding: 1rem 4rem;
    border-radius: 2rem;
    font-size: large;
}

#page8 {
    height: 120vh;
    display: grid;

    grid-template-rows: 30% 55% 15%;
    grid-template-areas:
        "title"
        "products"
        "bottom"
    ;

    background-color: #fbf9eb;
    border: 1px solid black;
}

#page8 .title {
    grid-area: title;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: start;
}

#page8 .title h1 {
    width: 80%;
    font-family: reckless;
    font-size: 2rem;
    font-weight: normal;
}

#page8 .products {
    grid-area: products;
    display: flex;
    padding: 2rem;
    gap: 1rem;
    overflow: hidden;
}

#page8 .products .product {
    height: 95%;
    min-width: 315px;
    max-width: 350px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background-color: #d9e9ff;
    border-radius: 1rem;
    border: 1px solid black;
    overflow: hidden;
}

#page8 .product .card {
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    border-bottom: 1px solid black;
    background-color: #2a2857;
}

#page8 .product .card button {
    position: absolute;
    top: 5%;
    left: 5%;
    padding: .5rem;
    border: 1px solid black;
    border-radius: .5rem;
    font-family: midnight;
    font-size: 1.25rem;
    text-transform: uppercase;
}

#page8 .product .card img {
    height: 100%;
}

#page8 .product h3 {
    margin: .5rem 1rem;
    font-weight: 100;
}

#page8 .bottom {
    grid-area: bottom;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

#page8 .bottom .lines {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

#page8 .bottom .lines div {
    height: 3px;
    width: 2rem;
    background-color: #ccc;
}

#page8 .bottom .lines #selected {
    background-color: #201c1a;
}

#page8 .bottom button {
    width: fit-content;
    align-self: center;
    border: none;
    background-color: #2a2857;
    color: #fff;
    padding: 1rem 4rem;
    border-radius: 2rem;
    font-size: 1rem;
}

#page9 {
    width: 100%;
    height: 115vh;
    overflow: hidden;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: relative;
}

#page9>img {
    height: 100%;
}

#page9 .content {
    position: absolute;
    height: 80%;
    background-color: #f26411;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    padding: 2rem;
    border-radius: 1rem;
    border: 1px solid black;
    left: 10%;
    width: 80%;
}

#page9 .content .title {
    display: flex;
    flex-direction: column;
}

#page9 .content h1 {
    font-family: reckless;
    font-size: 2rem;
    color: #fff;
}

#page9 .content button {
    width: max-content;
    padding: 1rem 4rem;
    font-size: 1.5rem;
    border-radius: 2rem;
    border: 1px solid black;
    justify-self: start;
}

#page10 {
    height: max-content;
    background-color: #bfdbff;
    display: grid;
    grid-template-rows: auto auto;

    grid-template-areas:
        "socials"
        "ftr"
    ;
}

#page10 .socials {
    grid-area: socials;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: 2rem 0rem;
}

#page10 .socials input {
    width: 400px;
    height: 50px;
    max-width: 80vw;
    border-radius: 2rem;
    font-size: 1rem;
    padding: 1rem;
}

#page10 .socials div {
    display: flex;
    gap: 2rem;
}

#page10 .socials button {
    font-size: 2rem;
    background-color: transparent;
    border: 2px solid black;
    padding: .5rem .75rem;
    border-radius: 1.5rem;
}

#page10 .ftr {
    grid-area: ftr;
    background-color: #2a2857;
    margin: 5%;
    border-radius: 1rem;
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    padding: 2rem;
}

#page10 .ftr .sub-ftr {
    color: #fff;
}

#page10 .ftr .sub-ftr h4 {
    font-family: reckless;
    font-size: 1.5rem;
    font-weight: normal;
}

#page10 .ftr .sub-ftr li {
    color: #999;
    font-size: .75rem;
    list-style-type: none;
}

footer {
    height: 30vh;
    background-color: #bfdbff;
    background-image: url(./assets/images/footer-extended_1.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 2rem 0rem;
    align-items: center;
}

footer img {
    height: 20%;
}

footer a {
    color: #000;
    text-decoration: none;
    font-size: small;
    width: 60%;
    text-align: center;
}

/* =========================
   SMALL DEVICES
   >= 480px
========================= */

@media (min-width: 480px) {}

/* =========================
   TABLETS
   >= 768px
========================= */

@media (min-width: 768px) {
    #page3 {
        padding: 8rem 10rem;
    }

    #page3 .box {
        width: 70%;
    }

    #page6 div h2 {
        font-size: 3rem;
        width: 60%;
        margin: 0rem 2rem;
    }

    #page6 div p {
        font-size: 1.25rem;
        width: 80%;
        margin: 0rem 2rem;
    }

    #page6 div button {
        margin: 0rem 2rem;
    }

    #page7 .content h2 {
        font-size: 2rem;
    }

    #page7 .content h1 {
        font-size: 2.5rem;
    }

    #page7 .product {
        flex-direction: column;
    }

    #page7 .product img {
        width: 100%;
    }

    #page7 .product .productContent {
        gap: 2rem;
        margin: 2rem;
    }

    #page7 .product .productContent h2 {
        font-size: 4rem;
    }

    #page7 .product .productContent h1 {
        font-size: 4rem;
    }

    #page7 .product .productContent p {
        width: 60%;
    }

    #page9 .content {
        width: 50%;
    }

    #page9 .content h1 {
        font-size: 3rem;
    }

    #page10 .socials {
        flex-direction: row;
    }

    #page10 .ftr {
        gap: 7rem;
    }

    #page10 .ftr .sub-ftr h4 {
        font-size: 2.75rem;
    }

    #page10 .ftr .sub-ftr li {
        font-size: 1rem;
    }

    footer {
        height: 50vh;
    }

}

/* =========================
   LAPTOPS
   >= 1024px
========================= */

@media (min-width: 1024px) {
    header nav .menu {
        display: none;
    }

    header nav button {
        display: flex;
    }

    header .center {
        padding-left: 10%;
    }

    header nav a {
        display: block;
    }

    #page1 {
        height: 90vh;
    }

    #page1 div {
        width: 35%;
    }

    #page1 div button {
        margin-bottom: 0;
    }

    #page2 .title h1 {
        width: 55%;
        font-size: 4rem;
    }

    #page3 {
        padding: 8rem 16rem;
    }

    #page3 .title h1 {
        font-size: 3.5rem;
    }

    #page3 .box {
        width: 40%;
    }

    #page4 .content .title h1 {
        font-size: 10rem;
    }

    #page4 .content p {
        font-size: 3rem;
    }

    #page5 .title {
        align-items: flex-start;
        padding: 0rem 8rem;
    }

    #page5 .title h2 {
        display: inline;
        width: 70%;
    }

    #page5 .cards .card .box h4 {
        font-size: .75rem;
    }

    #page6 {
        flex-direction: row;
    }

    #page6 div {
        height: 100%;
        width: 50%;
        gap: 4rem;
    }

    #page6 div h2 {
        font-size: 4rem;
        width: 60%;
        margin: 0rem 4rem;
    }

    #page6 div p {
        font-size: 1.5rem;
        width: 80%;
        margin: 0rem 4rem;
    }

    #page6 div button {
        margin: 0rem 4rem;
    }

    #page7 .content h2 {
        font-size: 3rem;
    }

    #page7 .content h1 {
        font-size: 4rem;
    }

    #page7 .product {
        flex-direction: row;
    }

    #page7 .product img {
        width: 80%;
    }

    #page8 .title h1 {
        width: 70%;
        font-size: 4rem;
    }

    #page9 .content {
        width: 30%;
        left: 5%;
    }

    #page9 .content h1 {
        font-size: 4rem;
    }

    footer {
        height: 80vh;
    }

    footer a {
        font-size: small;
    }
}

/* =========================
   LARGE DESKTOPS
   >= 1280px
========================= */

@media (min-width: 1280px) {}

/* =========================
   EXTRA LARGE SCREENS
   >= 1440px
========================= */

@media (min-width: 1440px) {}